{% extends 'base.html' %}

{% block content %}
<div>
	<h3>멜론에서 아티스트 검색</h3>
	<form action="">
		<input type="text" name="keyword" placeholder="아티스트명">
		<button type="submit">검색</button>
	</form>

	<ul>
	{% for artist_info in artist_info_list %}
		<li>
			<img src="{{ artist_info.url_img_cover }}" alt="">
			<span>{{ artist_info.artist_id }} | {{ artist_info.name }}</span>
			<form action="{% url 'artist:artist-add-from-melon' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="artist_id" value="{{ artist_info.artist_id }}">
				<button type="submit">DB에 추가하기</button>
			</form>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}