{% extends 'base.html' %}

{% block content %}
<div>
	<h3>직접 아티스트 추가</h3>
	<form action="" method="POST">
		{% csrf_token %}
		<input type="text" name="name">
		<button type="submit">등록</button>
	</form>

	<hr>

	<!--
		form을 한 개 더 추가
		이 form이 하는 일은 '멜론에서 Artist검색 후 목록 보여주기'를 실행
			-> 목록을 보여주는 일은 artist-search-from-melon이 하는것에 유의
			-> 검색 후에는 URL이 'artist-search-from-melon'부분으로 이동해야 함
	-->
	<h3>멜론에서 아티스트 검색</h3>
	<form action="{% url 'artist:artist-search-from-melon' %}">
		<input type="text" name="keyword" placeholder="아티스트명">
		<button type="submit">검색</button>
	</form>

</div>
{% endblock %}