{% extends 'base.html' %}

{% block content %}
<div class="artist-list-container">
	<!-- artist-add로의 링크 생성 -->
	<a href="{% url 'artist:artist-add' %}">아티스트 추가</a>
	<ul class="clearfix">
		<li class="clearfix">
			<a href="">
				<img src="{% if artist.img_profile %}{{ artist.img_profile.url }}{% endif %}" alt="" class="cover">
				<div class="artist-info">
					<div class="name">{{ artist.name }}</div>
					<div>{{ artist.nationality }}</div>
					<div>{{ artist.birth_date }}</div>
					<div>{{ artist.constellation }}</div>
					<div>{{ artist.blood_type }}</div>
				</div>

				{% if request.user.is_authenticated %}
				<!-- artist_like_toggle을 실행할 form -->
				<form action="{% url 'artist:artist-like-toggle' artist_pk=artist.pk %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="next-path" value="{{ request.get_full_path }}">
					{% if request.user in artist.like_users.all %}
						<button type="submit">좋아요 취소</button>
					{% else %}
						<button type="submit">좋아요</button>
					{% endif %}
				</form>
				{% endif %}
			</a>
		</li>
	</ul>
</div>
{% endblock %}