{% extends 'base.html' %}

{% block content %}
<div>
	<h1><a href="{% url 'song:song-search' %}">노래 검색</a></h1>
	<!--
		1. song/urls.py에 app_name지정
		2. 각 path에 name지정
		3. <app_name>:<url_name> 형식을 사용
	-->
	<form action="" method="get">
		<input type="text" name="keyword">
		<button type="submit">검색</button>
	</form>

	{% include 'include/song_search_result.html' with type='아티스트명' songs=songs_from_artists only %}
	{% include 'include/song_search_result.html' with type='앨범명' songs=songs_from_albums only %}
	{% include 'include/song_search_result.html' with type='노래제목' songs=songs_from_title only %}

</div>
{% endblock %}