{% extends 'base.html' %}

{% block content %}
<div>
	<h3>멜론에서 노래 검색</h3>
	<form action="">
		<input type="text" name="keyword">
		<button type="submit">검색</button>
	</form>

	<ul>
		{% for song_info in song_info_list %}
		<li>
			<div>
				<span>{{ song_info.song_id }} | {{ song_info.title }}</span>
			</div>
			<div>{{ song_info.artist }}</div>
			<form action="{% url 'song:song-add-from-melon' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="song_id" value="{{ song_info.song_id }}">
				<button type="submit">DB에 추가하기</button>
			</form>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}